<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Schiffskrieg</title>
</head>

<body class="bg-blue-700">
  <header>
    <h1>
      Schiffskrieg
    </h1>
    {{#if logged_in}}
    <nav>
      <ul>
        <li><button id="logout">logout</button></li>
        {{!-- TODO: add player name instead of profile --}}
        <li><button id="profile">Profile</button></li>
      </ul>
    </nav>
    {{/if}}
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>