<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/root.css">
  <title>Schiffskrieg</title>
</head>

<body class="w-screen font-serif text-teal-300  flex flex-col justify-center align-middle bg-teal-950">

  <header class="flex flex-col justify-center p-6">
    <h1 class="text-9xl self-center"> 
      <a href="./">Schiffskrieg</a>
    </h1>
    {{#if logged_in}}
    <nav>
      <div class="flex flex-row self-end">
       <button class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-teal-800 font-medium rounded-lg text-3xl px-5 py-2.5 text-center me-2 mb-2" id="logout">logout</button>
          {{!-- TODO: add player name instead of profile --}}
        <button class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-3xl px-5 py-2.5 text-center me-2 mb-2" id="profile">{{playerInfo.nickname}}</button>

      </div>
    </nav>
    {{/if}}
  </header>


  <main>
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/main.js"></script>
  {{/if}}
</body>

</html>