<head>

<script src="https://kit.fontawesome.com/6df7fc2545.js" crossorigin="anonymous"></script>
</head>

<div>
    <button id="play" class="w-96 bg-gradient-to-r from-teal-700 via-teal-800 to-teal-900 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-500 dark:focus:ring-teal-950 text-9xl font-medium rounded-full aspect-square text-center leading-none scale-75"><i class="fa-solid fa-play"></i></button>
</div>

<script src="/js/homepage.js"></script>