<head>
    <link rel="stylesheet" href="/css/root.css">
</head>


<div class="flex flex-col justify-center content-center">
  <h2 class="text-5xl p-12 m-auto">Login</h2>

  <form id="login-form" class="bg-teal-700/20 p-32 m-auto rounded-3xl">
    <div class="flex flex-col justify-center content-center h-full">
      <div class="m-2">
        <label for="email-login">Email : </label>
        <input type="text" id="email-login" class="w-full bg-teal-950 m-2 px-3"/>
      </div>

      <div class="m-2">
        <label for="password-login">Password : </label>
        <input type="password" id="password-login" class="w-full bg-teal-950 m-2 px-3"/>
      </div>

      <div class="m-auto ">
        <button type="submit" 
        class="bg-gradient-to-r from-teal-700 via-teal-800 to-teal-900 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-500 dark:focus:ring-teal-950 font-medium rounded-lg text-3xl px-5 py-2.5 text-center me-2 m-5">Login</button>
      </div>

      <div class="self-center">
        <button id="signup-button" type="button">Create Account</button>
      </div>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>