<h2 >Sign up</h2>

<form id="signup-form" class="bg-blue-600">
  <div>
    <label for="email">email:</label>
    <input type="text" id="email-login"/>
  </div>
  <div>
    <label for="password">password:</label>
    <input type="password" id="password"/>
  </div>
  <div>
  <div>
    <label for="confirm-password">confirm password:</label>
    <input type="password" id="confirm-password"/>
  </div>
  <div>
    <button type="submit">Sign yp</button>
  </div>
</form>

<script src="/js/signup.js"></script>