#logo {
    background: url(../assets/images/Schiffskrieg-Logo.svg);
    filter: sepia(100%) hue-rotate(100deg);
    aspect-ratio: 1 / 1;
    height: 100%;
}

#logo-div {
    aspect-ratio: 1 / 1;
    height: 30%;
}

#ping {
    aspect-ratio: 1 / 1;
    height: 80%;
}

.miss {
    background: url(../assets/images/miss_Player_Schiffskrieg.svg);
    background-size: cover;
    height: 90%;
    aspect-ratio: 1 / 1;

}

#alert {
    font-family: "Source Sans 3", sans-serif;
}

.coord {
    aspect-ratio: 1 / 1;
    width: calc(9 * var(--res-val));
    margin: calc(.4 * var(--res-val));
    border-radius: 10%;
}

.coord-player {
    border: 1px solid var(--player-coord-color-light);
    background-color: var(--player-coord-color-dark);
}

.coord-foe {
    border: 1px solid var(--foe-coord-color-light);
    background-color: var(--foe-coord-color-dark);
}