#logo {
    background: url(../assets/images/Schiffskrieg-Logo.svg);
}

#alert {
    font-family: "Source Sans 3", sans-serif;
}

.coord {
    aspect-ratio: 1 / 1;
    width: calc(9 * var(--res-val));
    margin: calc(.4 * var(--res-val));
    border-radius: 10%;
}

.coord-player {
    border: 1px solid var(--player-coord-color-light);
    background-color: var(--player-coord-color-dark);
}

.coord-foe {
    border: 1px solid var(--foe-coord-color-light);
    background-color: var(--foe-coord-color-dark);
}