/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
    --res-val: .9vh;
    --ship-color-light: rgb(148, 233, 213);
    --ship-color-dark: rgb(60, 163, 139);
    --player-coord-color-dark: rgb(77, 211, 180);
    --player-coord-color-light: rgb(255, 255, 255);
    --foe-coord-color-dark: rgb(207, 44, 44);
    --foe-coord-color-light: rgb(255, 90, 90);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}